<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Web Chat Room</title>
    {% load staticfiles %}
     <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
     <link href="{% static "css/custom.css" %}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
   <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/bbs/">首页</a>
                    </li>
                     <li class="active">
                        <a href="/bbs/webchat/">web聊天室</a>
                    </li>
                    {% for column in columns %}
                    <li>
                        <a href="/bbs/{{ column.id }}/">{{ column.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
   </div>
</nav>
<div class="container-fluid">

		<!-- Left Column -->
		<div class="col-sm-3">

			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-random"></span> Completely Synergize</h1>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">Resource Taxing</a>
					<a href="#" class="list-group-item">Premier Niche Markets</a>
					<a href="#" class="list-group-item">Dynamically Innovate</a>
					<a href="#" class="list-group-item">Objectively Innovate</a>
					<a href="#" class="list-group-item">Proactively Envisioned</a>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Dramatically Engage</h1>
				</div>

				<div class="panel-body">
					<p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
					<p><button class="btn btn-default">Engage</button></p>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-bullhorn"></span>
						Active Predomination
					</h3>
				</div>
				<div class="panel-body">
					<p>Proactively envisioned multimedia based expertise and cross-media growth strategies.</p>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default">Resource</button>
						<button type="button" class="btn btn-default">Envision</button>
						<button type="button" class="btn btn-default">Niche</button>
					</div>
				</div>
			</div>

		</div><!--/Left Column-->


		<!-- Center Column -->
            <div class="chat-container">
        <div class="left-contact-panel">
           <ul class="nav nav-tabs" role="tablist">
               <li role="presentation" class="active"><a href="#contact-tab" role="tab" data-toggle="tab">好友列表</a></li>
                <li role="presentation"><a href="#group-tab" role="tab" data-toggle="tab">分组列表</a></li>
           </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="contact-tab">
                <ul class="list-group">
                    {% for name in username %}
                        <li contact-type="single" contact-id="{{ name.id }}" onclick="openchatwindow(this)" class="list-group-item">{{ name.user }}</li>
                    {% endfor %}
                </ul>
                </div>
                  <div role="tabpanel" class="tab-pane active" id="group-tab">
                    <ul class="list-group">
                      {% for friend in webname %}
                          <li contact-type="group" contact-id="{{ friend.id }}" onclick="openchatwindow(this)" class="list-group-item">{{ friend.name }}</li>
                      {% endfor %}
                </div>
            </div>
        </div>
        <div class="right-chat-panel">
            <div class="chat-box-title" contact-id="" contact-type="">
                title
            </div>
            <div class="chat-box-window">
                window
            </div>
            <div class="chat-box-emoj">
                emoj
            </div>
            <div class="chat-box-msg-box">
                <textarea name="" id="msg" ></textarea>
                <button class="btn btn-success">发送消息</button>
            </div>

        </div>
        <div class="clear-both"></div>
    </div>
	<!--/Center Column-->
			<!-- Progress Bars -->


			<!-- Carousel -->
 			<h3><span class="glyphicon glyphicon-modal-window"></span> Synergization</h3>
			<div id="side-carousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#side-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#side-carousel" data-slide-to="1"></li>
					<li data-target="#side-carousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<a href="#">
							<img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%201" alt="">
						</a>
						<div class="carousel-caption">
							<h3>Dramatically Engage</h3>
							<p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
						</div>
					</div>
					<div class="item">
						<a href="#">
							<img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%202" alt="">
						</a>
						<div class="carousel-caption">
							<h3>Efficiently Unleash</h3>
							<p>Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
						</div>
					</div>
					<div class="item">
						<a href="#">
							<img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%203" alt="">
						</a>
						<div class="carousel-caption">
							<h3>Proactively Pontificate</h3>
							<p>Holistically pontificate installed base portals after maintainable products.</p>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#side-carousel" role="button" data-slide="prev">
				  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#side-carousel" role="button" data-slide="next">
				  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>

	  </div><!--/Right Column -->

	</div><!--/container-fluid-->

	<footer>
		<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-text-size"></span> Dynamic</h3>
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
						<p><a class="btn btn-default" href="#">Procrastinate</a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-wrench"></span> Efficient</h3>
						<p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>
						<p><a class="btn btn-default" href="#">Unleash</a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-paperclip"></span> Complete</h3>
						<p>Professionally cultivate one-to-one customer service with robust ideas. Completely synergize resource taxing relationships via premier niche markets. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
						<p><a class="btn btn-default" href="#">Complete</a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">

						<!-- Thumbnails -->
						<h3><span class="glyphicon glyphicon-camera"></span> Phosfluorescent</h3>
							<div class="row">
								<div class="col-xs-6">
									<a href="#" class="thumbnail">
										<img src="holder.js/110x80" alt="">
									</a>
								</div>
								<div class="col-xs-6">
									<a href="#" class="thumbnail">
										<img src="holder.js/110x80" alt="">
									</a>
								</div>
								<div class="col-xs-6">
									<a href="#" class="thumbnail">
										<img src="holder.js/110x80" alt="">
									</a>
								</div>
								<div class="col-xs-6">
									<a href="#" class="thumbnail">
										<img src="holder.js/110x80" alt="">
									</a>
								</div>
							</div>

					</div>

				</div>
				<!-- /.row -->
			</div>
        </div>

        <div class="small-print">
        	<div class="container">
        		<p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
        		<p>Copyright &copy; Example.com 2015 </p>
        	</div>
        </div>
	</footer>


    <!-- jQuery -->
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- IE10 viewport bug workaround -->
	<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

	<!-- Placeholder Images -->
	<script src="{% static "js/holder.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('body').delegate("textarea", "keydown", function (e) {
                if(e.which === 13) {
                    var msg_text = $("textarea").val();
                    if($.trim(msg_text).length === 0) {
                        var error = '发送信息不能为空';
                        addmsgintowindow(error);
                    } else {
                        addmsgintowindow(msg_text);
                        $("textarea").val('');
                    }
                }
            });
        });
        function openchatwindow(ele) {
            $(ele).addClass('active');
            $(ele).siblings().removeClass('active');
            var contact_id = $(ele).attr('contact-id');
            var contact_name = $(ele).text();
            var contact_type = $(ele).attr('contact-type');
            var chat_box_title_content = '正在跟' + contact_name + '聊天';
            $('.chat-box-title').attr("contact-type", contact_type);
            $('.chat-box-title').attr("contact-id", contact_id);
            $('.chat-box-title').html(chat_box_title_content)
        }
        function addmsgintowindow(msg_tex) {
            var new_msg_ele = "<div class='msg-item'>"+"<span>"+ new Date().toLocaleDateString()+"</span>"+"<div class='msg-text'>"+msg_tex+"</div>"+"</div>";
            $(".chat-box-window").append(new_msg_ele);
            $(".chat-box-window").animate({scrollTop:$(".chat-box-window").height()}, 500);
        }
        function sendmsg(msg_txt) {
            var contact_type = $('.chat-box-title').attr("contact-type");
            var contact_id = $(".chat-box-title").attr("contact-id");
            if(contact_type && contact_id) {
                var msg_item = {
                    "form":
                }
            }
        }
    </script>
</body>

</html>
